{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
</header>

<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
        </header>

        <section class="post-content">
            {{content}}
        </section>

    </article>
</main>

<aside class="sidebar">
  <img class="profile-image" src="{{@blog.logo}}" alt="" />
  <!--
  // to display a custom image, copy the image into assets/img/profile-img.png and replace the previous line with this:
  <img class="profile-image" src="{{asset "img/profile-image.png"}}" alt="" />
  -->

  <!--
  // to display your name under the blog logo or profile image, uncomment this line:
  <section class="publisher">by <strong>Gergely Orosz</strong></section>
  -->

  {{navigation}}

  <!--
  // Add any other links to the sidebar, under the navigation links here.
  // For example to allow subscribing to your blog via Feedburner and email:
    1. register it at feedburner.com and
    2. change the below links to point to your blog
    3. uncomment these lines:

    <ul>
      <li><a href="http://feeds.feedburner.com/ThePragmaticEngineer" class="elusive-icon rss">Subscribe in a reader</a></li>
      <li><a href="http://feedburner.google.com/fb/a/mailverify?uri=ThePragmaticEngineer&amp;loc=en_US" class="elusive-icon email">Subscribe via email</a></li>
    </ul>
   -->

  <footer class="site-footer clearfix">
      <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
      <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
  </footer>

</aside>

{{/post}}
